!app/app.html
!app/main.js
!app/menu.js
!app/osd_interface.js
!app/package.json
.DS_Store
.grunt
.jshintignore
.jshintrc
.lock-wscript
*.log
*.pid
*.seed
# Logs
app
build/Release
coverage
default.conf
dist
lib-cov
logs
node_modules
pids
release
test-results.xml
