label, span, div, select, option, input[readonly] {
  -webkit-user-select: none;
}

html {
  font-size: 10px;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.main {
  position: absolute;
  left: 0;
  top: 64px;
  right: 0;
  bottom: 0;
}

.parameters {
  position: absolute;
  right: 0px;
  padding: 5px;
  left: 400px;
  top: 0;
  display:block;
  bottom: 0;
  overflow-y: auto;
}

[data-react-toolbox= "dropdown"] label {
  white-space: nowrap;
}

.sidebar {
  padding: 5px;
  position: absolute;
  width: 400px;
  top: 5px;
  left: 5px;
  bottom: 0;
  overflow-y: auto;
}

.sidebar .panel label {
  display: inline-block;
  margin-right: 0.5rem;
}

.sidebar .connection {
  overflow: visible;
  margin: 5px 0;
}

.sidebar button {
  margin-right: 0.5rem;
}

.preview-card {
  overflow: visible;
  margin: 5px 0;
}

.preview {
  position: relative;
}

.preview img {
  width: 100%;
  height: 100%;
}

.preview .preview-widget {
  position: absolute;
  overflow: hidden;
  /*cursor: move;*/
}

/*.preview .preview-widget:hover {
  box-shadow: inset 0 0 5px white, 0 0 5px black;
}*/

.parameters .parameter-list {
  overflow: visible;
  padding: 5px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.parameters .parameter-list > div {
  overflow: visible;
}

@media(min-width: 1090px) {
  .parameters .parameter-list {
    width: 50%;
  }
}

@media(min-width: 1390px) {
  .parameters .parameter-list {
    width: 33%;
  }
}

@media(min-width: 1690px) {
  .parameters .parameter-list {
    width: 25%;
  }
}

@media(min-width: 1990px) {
  .parameters .parameter-list {
    width: 20%;
  }
}

.modified {
  background-color: #EEEEEE;
}

.label {
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.26);
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  display: inline-block;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }
