label, span, div, select, option, input[readonly] {
  -webkit-user-select: none;
}

html {
  font-size: 10px;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.parameters {
}

.preview {
  position: relative;
}

.preview img {
  width: 100%;
  height: 100%;
}

.preview .preview-widget {
  position: absolute;
  overflow: hidden;
}

.parameters .parameter-list {
  overflow: visible;
}

.label {
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.26);
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  display: inline-block;
}

.font.small {
  font-size: 20px;
  font-family: IBM_EGA_8x14;
  line-height: 20px;
}

.font.medium {
  font-family: IBM_EGA_8x14;
  font-size: 28px;
  line-height: 28px;
}

.font.large {
  font-size: 18px;
  line-height: 18px;
}
